main > * {
    margin: 10px;
}
.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 400px;
    min-height: 150px;
    border: 1px solid;
    border-radius: 5px;
}

.recipes .head {
    display: flex;
    gap: 10px;
}

.recipes .head button {
    margin-left: auto;
}

.topic {
    font-weight: bold;
}
#recipe-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: gray;
}

#selected-recipe {
    background-color: white;
    padding: 10px;
    width: 800px;
}